name: Execute Spectral with CAMARA ruleset
# A reusable action for validating PRs using tools configuration from branch indicated by input `configurations` variable
# CAMARA Project - Github Action 
# initial version

on:
  workflow_call:
    # For a workflow to be reusable, the values for on must include workflow_call
    inputs:
      configurations:
        description: The branch, tag, or commit to check out - containing tool configs to be used
        type: string
        required: false
        default: main
jobs:
  execute:
    name: Spectral
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
      - name: Checkout linting config
        uses: actions/checkout@v6
        with:
          repository: rartych/tooling
          path: lint-config
          ref: ${{ inputs.configurations }}
          sparse-checkout: |
            linting/config/
          sparse-checkout-cone-mode: false
      - name: Copy specified folder to workspace root
        run: cp -RT ${{ github.workspace }}/lint-config/linting/config ${{ github.workspace }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Spectral CLI and functions including OWASP ruleset
        run: npm install --save-dev @stoplight/spectral-cli @stoplight/spectral-functions @stoplight/spectral-owasp-ruleset@^2.0

      - name: Run Spectral linting
        run: npx spectral lint code/API_definitions/*.yaml --verbose --ruleset ${{ github.workspace }}/.spectral.yaml

      - name: Run Spectral linting for OWASP
        run: npx spectral lint code/API_definitions/*.yaml --verbose --ruleset ${{ github.workspace }}/.spectral-owasp.yaml
        continue-on-error: true
